/************    ****************************


@font-face {
	font-family: 'casa';
	src:url('../fonts/casa.eot?7fn4z3');
	src:url('../fonts/casa.eot?#iefix7fn4z3') format('embedded-opentype'),
		url('../fonts/casa.ttf?7fn4z3') format('truetype'),
		url('../fonts/casa.woff?7fn4z3') format('woff'),
		url('../fonts/casa.svg?7fn4z3#casa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'casa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e600";
}





@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?11u6et');
	src:url('../fonts/icomoon.eot?#iefix11u6et') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?11u6et') format('truetype'),
		url('../fonts/icomoon.woff?11u6et') format('woff'),
		url('../fonts/icomoon.svg?11u6et#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
	content: "\e600";
	margin-right: 1em;
}



@font-face {
	font-family: 'logos';
	src:url('../fonts/logos.eot?godlnz');
	src:url('../fonts/logos.eot?#iefixgodlnz') format('embedded-opentype'),
		url('../fonts/logos.ttf?godlnz') format('truetype'),
		url('../fonts/logos.woff?godlnz') format('woff'),
		url('../fonts/logos.svg?godlnz#logos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'logos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
	content: "\e600";
}
.icon-windows8:before {
	content: "\e601";
	margin-right: 1em;
}
.icon-html5:before {
	content: "\e602";
	margin-right: 1em;
}




/******************  ESTILOS ICOMOON ARRIBA ---- HOME **************************/





body
{
	/*background: url(https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg)no-repeat center center fixed;*/
	background: url(../img/people.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*position: relative;*/
    font-size: .9em;
}


.header-initial_home figure
{
	/*background: red;*/
}


.header-initial_home figure img
{
	width: 198px;
	margin: 0 auto 0 auto;
	display: block;
	overflow: hidden;
}





.header-initial_home nav
{
	background: #BA0000; opacity: 0.7;
	text-align: center;
	position: relative;
}


.header-initial_home nav ul
{
	/*background: black;*/
	margin-left: -35px;
}

.header-initial_home nav ul li
{
	display: inline-block;
	/*background: blue;*/
	padding: 1em .4em 1em .4em;
	margin-right: .5em;
	position: relative;
}

.header-initial_home nav ul li a
{
	color: white;
	text-decoration: none;
	padding: 1em .8em 1em .8em;
	font-family: 'Open Sans', sans-serif;
}

.header-initial_home nav ul li a:hover
{
	background: red; opacity: 15;
	
}

/********* ESTILOS MENÚ DESPLEGABLE ***********/

.header-initial_home nav li li a
{
	padding: 1em 5em 1em 5em;
	font-family: 'Open Sans', sans-serif;
	/*background: blue;*/
	text-align: left;
	font-size: .7em;
}


.header-initial_home nav li li 
{
	display: block;
	margin: 0;
	/*background: blue;*/


}

.header-initial_home nav li ul
{
	display: none;
	width: 190px;
	/*margin: 0;*/
	padding: 0;
	background: #BA0000; opacity: 0.9;
	border: 1px solid #ccc;
	position: absolute;
	left: -16%;
	top: 100%;
	text-align: center;
}

.header-initial_home nav li:hover ul
{
	display: block;
	
}

.header-initial_home nav li li a:hover
{
	background: red;
}


/************** FIN ESTILOS MENÚ DESPLEGABLE **************/


h1
{
	background: white; opacity: 0.4;
	font-size: 2em;
	width: 400px;
	border-radius: 1px 10px 20px 0px;
	text-align: center;
	padding: .2em 0 .2em 0;
	font-family: 'Montserrat', sans-serif;

}

footer
{
	background: #BA0000; opacity: 0.5;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: .8em;
	width: 100%
}




.icon-home3
{
	color: white;
	width: 30px;
}

.header-initial_home nav ul li span .icon-home3
{
	background: blue;
}



/**************** ESTILOS VENTANA MODAL ****************/


.windows-modal
{
	width: 100%;
	height: 100%;
	background: black; opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	/*overflow: hidden;*/
}


.windows-modal h1
{
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	margin: .7em auto 0 auto;
}


.close
{
	position: absolute;
	right: 0;
	top: 0;
	margin: .7em 1em 0 0;
}




.close p a
{
	color: red;
	font-size: 1.6em;
	text-decoration: none;
	border: 1px solid red;
	padding: .5em;
	border-radius: 5px;
}

.close p a:hover
{
	background: red;
	color: white;
}


.load
{
	/*position: relative;
	/*left: 0em;*/
	background: white;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	text-align: center;
	/*margin-left: 30em;*/
	/*width: 35em;
	height: 30em;*/
}



.load form
{
	/*background: blue;*/
	text-align: center;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	/*margin-left: 15em;*/
	/*position: absolute;
	left: 22%;*/
	padding-top: 20em;
}


.load form label
{
	font-size: 1.6em;
	padding: .7em;
	padding-top: -5em;
	font-family: 'Montserrat', sans-serif;
}


.load form input[type="file"]
{
	/*background: red;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
}

.load form input[type="submit"]
{
	background: magenta;
	padding: .5em 1em .5em 1em;
	border-radius: 5px;
	background: red;
	color: white;
	font-size: 1.6em;
	margin-top: 190px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 1px 1px 10px #000;
}

/**************    ESTILOS VENTANA MODAL 1    *******************/
.windows-modal-1
{
	width: 100%;
	height: 100%;
	background: black; opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	/*overflow: hidden;*/
}


.windows-modal-1 h1
{
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	margin: .7em auto 0 auto;
}


.close-1
{
	position: absolute;
	right: 0;
	top: 0;
	margin: .7em 1em 0 0;
}




.close-1 p a
{
	color: red;
	font-size: 1.6em;
	text-decoration: none;
	border: 1px solid red;
	padding: .5em;
	border-radius: 5px;
}

.close-1 p a:hover
{
	background: red;
	color: white;
}


.load-1
{
	/*position: relative;
	/*left: 0em;*/
	background: white;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	text-align: center;
	/*margin-left: 30em;*/
	/*width: 35em;
	height: 30em;*/
}



.load-1 form
{
	/*background: blue;*/
	text-align: center;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	/*margin-left: 15em;*/
	/*position: absolute;
	left: 22%;*/
	padding-top: 20em;
}


.load-1 form label
{
	font-size: 1.6em;
	padding: .7em;
	padding-top: -5em;
	font-family: 'Montserrat', sans-serif;
}


.load-1 form input[type="file"]
{
	/*background: red;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
}

.load-1 form input[type="submit"]
{
	background: magenta;
	padding: .5em 1em .5em 1em;
	border-radius: 5px;
	background: red;
	color: white;
	font-size: 1.6em;
	margin-top: 190px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 1px 1px 10px #000;
}


/**********************    FIN ESTILOS VENTANA MODAL 1  *****************************/



/********************************** ESTILOS VENTANA MODAL 2 **************************************/


.windows-modal-2
{
	width: 100%;
	height: 100%;
	background: black; opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	/*overflow: hidden;*/
}


.windows-modal-2 h1
{
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	margin: .7em auto 0 auto;
}


.close-2
{
	position: absolute;
	right: 0;
	top: 0;
	margin: .7em 1em 0 0;
}




.close-2 p a
{
	color: red;
	font-size: 1.6em;
	text-decoration: none;
	border: 1px solid red;
	padding: .5em;
	border-radius: 5px;
}

.close-2 p a:hover
{
	background: red;
	color: white;
}


.load-2
{
	/*position: relative;
	/*left: 0em;*/
	background: white;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	text-align: center;
	/*margin-left: 30em;*/
	/*width: 35em;
	height: 30em;*/
}



.load-2 form
{
	/*background: blue;*/
	text-align: center;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	/*margin-left: 15em;*/
	/*position: absolute;
	left: 22%;*/
	padding-top: 20em;
}


.load-2 form label
{
	font-size: 1.6em;
	padding: .7em;
	padding-top: -5em;
	font-family: 'Montserrat', sans-serif;
}


.load-2 form input[type="file"]
{
	/*background: red;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
}

.load-2 form input[type="submit"]
{
	background: magenta;
	padding: .5em 1em .5em 1em;
	border-radius: 5px;
	background: red;
	color: white;
	font-size: 1.6em;
	margin-top: 190px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 1px 1px 10px #000;
}



/********************************** FIN ESTILOS VENTANA MODAL 2 **************************************/


/********************************** ESTILOS VENTANA MODAL 3 **************************************/



.windows-modal-3
{
	width: 100%;
	height: 100%;
	background: black; opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	/*overflow: hidden;*/
}


.windows-modal-3 h1
{
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	margin: .7em auto 0 auto;
}


.close-3
{
	position: absolute;
	right: 0;
	top: 0;
	margin: .7em 1em 0 0;
}




.close-3 p a
{
	color: red;
	font-size: 1.6em;
	text-decoration: none;
	border: 1px solid red;
	padding: .5em;
	border-radius: 5px;
}

.close-3 p a:hover
{
	background: red;
	color: white;
}


.load-3
{
	/*position: relative;
	/*left: 0em;*/
	background: white;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	/*margin-left: 30em;*/
	/*width: 35em;
	height: 30em;*/
}



.load-3 form
{
	background: blue;
	text-align: center;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	/*margin-left: 15em;*/
	/*position: absolute;
	left: 22%;*/
	padding-top: 20em;
}


.load-3 form label
{
	font-size: 1.6em;
	padding: .7em;
	padding-top: -5em;
	font-family: 'Montserrat', sans-serif;
}


.load-3 form input[type="file"]
{
	/*background: red;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
}

.load-3 form input[type="submit"]
{
	background: magenta;
	padding: .5em 1em .5em 1em;
	border-radius: 5px;
	background: red;
	color: white;
	font-size: 1.6em;
	margin-top: 190px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 1px 1px 10px #000;
}


.text
{
	/*background: red;*/
	width: 38%;
	position: relative;
	left: 30%;
	top: 15%;
	border: 1px solid red;
	padding: 2em;
	border-radius: 5px;
	box-shadow: inset 1px 1px 10px black;
}

.text textarea
{
	background: red;
	position: absolute;
	left: 40%;
	top: 0%;
	/*z-index: 999;*/
	width: 600%;
	height: 200%;
	font-size: 3em;
}

.text h3
{
	font-family: 'Montserrat', sans-serif;
	color: red;
	text-shadow: 1px 1px 10px red;
	text-align: center;
}

/******************************  FIN ESTILOS VENTANA MODAL 3   *******************************************/












